i {
    font-size: 1.3em;
    float: right;
    margin: .2em .2em 0em 0em;
    color: rgba(0, 0, 0, .6);
}

i:hover {
    color: rgba(0, 0, 0, .9);
}

.leftButtonMargin {
    margin-left: .7em !important;
}

.compactPadding {
    padding: .4em .65em .4em .65em !important;
}
