#actImgContainer {
    height: 5em;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}

#actImg {
    width: 100%;
    height: auto;
}

.sHeader {
    text-transform: none !important;
}

#activateFooter {
    margin-left: 3em;
}

#bodyDiv {
    position: relative;
    min-height: 100vh;
}

#contentDiv {
    padding-bottom: 3.5em;
}

#footerDiv {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3.5em;
    border-top: rgba(0, 0, 0, .3) 1px solid;
    vertical-align: middle;
    padding: 1em 0 0 1em;
    color: rgba(0, 0, 0, .55);
}

#footerDiv a {
    text-decoration: none;
    color: inherit;
}

#footerDiv a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .65);
}


#homeLink { color: rgba(0, 0, 0, .87); }
#homeLink:hover { color: rgba(0, 0, 0, .70); }