<!--<!DOCTYPE web-app PUBLIC-->

<web-app>

  <display-name>Quick Notes</display-name>

  <welcome-file-list>
    <welcome-file>editor</welcome-file>
  </welcome-file-list>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>./editor.jsp</form-login-page>
    </form-login-config>
  </login-config>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>viewNotes</web-resource-name>
      <url-pa>/viewNotes</url-pa>
    </web-resource-collection>
    <auth-constraint>
      <role-name>registered-user</role-name>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>registered-user</role-name>
  </security-role>

  <security-role>
    <role-name>administrator</role-name>
  </security-role>

</web-app>
